<mat-nav-list>
    <mat-list role="list">
        <ng-container >
            <mat-list-item (click)="op1 = !op1" >
                <mat-icon>access_time</mat-icon>
                Menu 1
                <mat-icon class="arrow_menus" *ngIf="!op1">keyboard_arrow_left</mat-icon>
                <mat-icon class="arrow_menus" *ngIf="op1">keyboard_arrow_down</mat-icon>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list style="margin-left:60px;" *ngIf="op1" >
                <div >
                    <!-- <mat-list-item  routerLinkActive="list-item-active" routerLink="/usuario" (click)="onMenuToggleDispatch()" >
                        <span class="material-icons submenu1" >
                            stop_circle
                            </span>  Usuario</mat-list-item> -->
                     <mat-list-item  routerLinkActive="list-item-active" routerLink="/tipoCambio" (click)="onMenuToggleDispatch()" >
                        <span class="material-icons submenu1" >
                            stop_circle
                            </span>  Tipo Cambio</mat-list-item>
                </div>
            </mat-list>
        </ng-container>
    </mat-list>

    <mat-divider></mat-divider>


</mat-nav-list>
